.footer {
  display: none;
  position: relative;
  z-index: 10;

  @media (max-width: 639px) {
    display: block;
  }

  // @media (max-width: 425px) {
  //   display: block;
  // }
  // .footer__wrapper

  &__wrapper {
    padding: 20px 0;
  }

  // .footer__box

  &__box {
    display: flex;
    justify-content: center;
  }

  // .footer__apps

  &__apps {
    margin-bottom: 15px;
  }

  // .footer__copy

  &__copy {
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    font-family: "Gilroy-Regular", sans-serif;
  }
}
.apps {

  // .apps__link

  &__link {
  }
}
